<h1>Hello, world!</h1>

Welcome to your new app. You have counted to @CountValue.

<br />
<NavLink href="counter/500">
    Click here to count from 500 directly.
</NavLink>
<br />
<NavLink href="404-test">
    Click here to navigate to a non-existance page.
</NavLink>
<br />
<NavLink href="nested-route/5">
    Click here for nested route example 1.
</NavLink>
<br />
<NavLink href="nested-route/5/hello">
    Click here for nested route example 2.
</NavLink>
<br />
<NavLink href="nested-route/5/world">
    Click here for nested route example 3.
</NavLink>
<br />
<NavLink href="nested-route/5/404-test">
    Click here to navigate to a non-existance page (nested route).
</NavLink>
<br />
<NavLink href="abcdefg/test">
    Click here for route */test.
</NavLink>


@code {
    [Parameter] public int CountValue { get; set; }
}